.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    justify-content: space-around;
    top: 0;
    z-index: 100;
}

.nav a {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav a img {
    height: 70%;
    margin-left: 60px;
    background-color: white;
    border-radius: 200px;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.21), 0 0 13px 3px rgba(0, 0, 0, 0.21);
}

.navSearchBar {
    width: 70%;
    height: 80%;
}