.displayResults {
    width: 70%;
    transition: 2s;
}

.dispResHead,
.pagedBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.pagedBottom {
    justify-content: flex-end;
}

.spinner {
    height: 100px;
    margin-top: 200px;
}

.dispResHead span {
    font-size: 25px;
    width: 80%;
}

.dispResLocation {
    font-weight: 800;
}